<%= form_with(model: todo_list, local: true) do |form| %>
  <% if todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-todo_list">
  <!--   <div class="form-todo_list string optional">
        <%= form.label :title, :class => "string optional control-label" %>
        <%= form.text_field :title, :class => "string optional form-control" %>   
    </div> -->
    <div class="form-todo_list string optional">
        <%= form.label :description, :class => "string optional control-label" %>
        <%= form.text_area :description, :class => "string optional form-control" %>
    </div>
    <div class="form-todo_list string optional">
        <%= form.label :date, :class => "string optional control-label" %>
        <%= form.date_select :date, :class => "string optional form-control" %>
    </div>
    <div class="form-todo_list string optional">
        <%= form.label :due_time, :class => "string optional control-label" %>
<!--         <%= form.text_field :due_time, due_time: { behavior: 'timepicker' }, class: 'form-control' %> -->
        <%= form.text_field :due_time, :class => "string optional form-control" %>

    </div>
    <div class="form-todo_list string optional">
        <%= form.label :status, :class => "string optional control-label" %>
        <!-- <%= form.check_box :status %> -->
        <%= form.select(:status,  {'created' => false, 'done' => true} , {}, { :class => 'select' }) %>
     </div>
  </div>
  <div class="actions">
    <%= form.submit "Submit", class: 'btn btn-success' %>
  </div>
<!--   <div class='input-append bootstrap-timepicker-component' style='display: inline;'>
    <input class='dateselect-time input-small' type='text' data-time='12:45 PM'>
    <span class='add-on'><i class='icon-time'></i></span>
  </div>  -->
<% end %>
