<h1>Todo Lists</h1>

<%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-success' %>
<br>

<div>
<h2>Search Todo Lists</h2>
<%= form_for(:search, class: 'form-inline', url: todo_lists_path, method: :get) do |form| %>
  <div class="form-group">
    <%= form.label :date %>
    <%= form.text_field :date, class: 'form-control', data: { behavior: 'daterangepicker' }, value: date_from_parameters %>

  </div>
  <%= form.submit "Search", class: 'btn btn-success' %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <!-- <th>Title</th> -->
      <th>Todo</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.todo.each do |todo_list| %>
      <% if todo_list.user == current_user %>
        <tr>
          <!-- <td><%= todo_list.status %>created</td> -->
          <td>created</td>
  <!--         <td><%= link_to "Mark as Complete", complete_todo_list_path(todo_list), method: :patch %></td> -->
          <!-- <td><%= todo_list.title %></td> -->
          <td><%= todo_list.description %></td>
          <td><%= todo_list.date %></td>
          <!-- <td><%= link_to 'Show', todo_list %></td> -->
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list), class: "btn btn-sm btn-default" %></td>
          <td><%= link_to 'Delete', todo_list, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div>
<h1>Completed</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Todo</th>
      <!-- <th>Description</th> -->
      <th>Finish time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todo_lists.completed.each do |todo_list| %>
      <% if todo_list.user == current_user %>
        <tr>
          <td><strike>done</strike></td>
          <!-- <td><strike><%= todo_list.title %></strike></td> -->
          <td><strike><%= todo_list.description %></strike></td>
          <td><strike><%= todo_list.updated_at %></strike></td>
          <!-- <td><%= link_to 'Show', todo_list %></td> -->
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list), class: "btn btn-sm btn-default" %></td>
          <td><%= link_to 'Delete', todo_list, class: "btn btn-sm btn-default", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
  $(function(){
  $('[data-behavior=daterangepicker]').daterangepicker({
    locale: { format: 'DD/MM/YYYY'},
    cancelLabel: 'Clear'
  });

  $('[data-behavior=daterangepicker]').on('cancel.daterangepicker', function(){
    $(this).val(' ');
  });

});
</script>
