<!DOCTYPE html>
<html>
  <head>
    <title>Todo1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
        <%= render "common/flashes" %>
        <%= render "common/navbar" %>
        <%= yield %>
    </div>
  </body>
</html>
